page-formulario {
    color: white;
    font-family: "Comic Sans MS";
}

.div_fieldset{
    padding: 10px 10px;
    margin: 7px 7px;
    border-radius: 10px;
}

.div_fieldset fieldset{
    border-radius: 10px;
}

.color1{
    background-color: rgb(9, 48, 138);
}
.color2{
    background-color: rgb(20, 77, 211);
}

.div_fieldset legend{
    font-size: 19px;
    color:white;
}

.labeltext{
    color:white;
    font-size: 12px;
}

ion-select{
    border: solid 1px rgba(255, 255, 255, 0.692);
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 5px;
    font-size: 14px;
}